.app-navbar {
  background: var(--light);
  box-shadow: var(--sha);
}

.app-navbar img {
  object-fit: contain;
  height: 4rem;
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
