@import "~antd/dist/antd.css";
.App {
  height: 100%;
}

.content-bg {
  background: #f0f2f5;
  /* min-height: 100%; */
  /* min-height: calc(100vh - 64px); */
}

.main-layout {
  height: 100%;
}

.main-footer {
  clear: both;
  position: relative;
  /* height: 30px; */
  /* margin-top: -200px; */
}
